/*全要素を*でmargin とpadding設定*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*userNameとwelcomeをアニメーション追加　ペイジーが開いた時左側がら
文字が出てくるようにする*/
.list1{
    animation-name: animations;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes animations{
    0%{
        opacity: 0;
        transform: translateX(-700px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

/*ヘッダーの高さ背景色設定position fixedで画面の上(top)に配置幅の設定
z-index 100で重ねてる背景画面の上に持っていく　top 0で親よその上と同じに配置
box shadow　でヘッダーの下に影を作る
align item center で文字を真ん中にする
justify content space between で文字を並ぶ*/
header {
    background-color: rgba(255, 255, 255, .7);
    height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    box-shadow: 10px 10px 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

/*logo写真の配置*/
.logo{
    margin-top: 5px;
    padding-left: 30px;
}

.menu {
    display: flex;
    gap: 0 1.5rem;
    text-align: right; 
}
/*aタグの文字を黒に設定*/
a{
   color: black;
   
}

/*listの配置フォントサイズ設定*/
.list1{
    margin-right: 20px;
    font-size: 20px;
    padding-top: 10px;
}

.list2{    
     margin-right: 20px;
     font-size: 20px;
     padding-top: 10px;
}
.list3{   
     margin-right: 20px;
     font-size: 20px;
     padding-top: 10px;
}
.list4{   
    margin-right: 30px;
    font-size: 20px;
    padding-top: 10px;
}

/*bodyタグのfont、高さ　背景色　中の要素を真ん中に 設定
align item center 縦に対して真ん中に中央揃え
justify-content:center横に対して真ん中に中央揃え*/
body{
    font-family: "Kosugi Maru", sans-serif;
    min-height: 100vh;
    background-color: rgb(41, 38, 38);
    display: flex;
    align-items: center;
    justify-content:center;

}

/*before after で背景を2重にする
背景色設定z index で隠れた文字を背景画面の上側に設定左側の丸背景
clippathで丸背景を作る*/
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(232, 239, 247),black);
    clip-path: circle(61% at 15% 27%);
    z-index: -1;
}

/*before after で背景を2重にする
背景色設定z index で隠れた文字を背景画面の上側に設定右側の丸背景
clippathで丸背景を作る*/
body::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(232, 239, 247),black);
    clip-path: circle(30.3% at 86% 100%);
    z-index: -1;
}

/*カードの形作る幅と高さ設定左側と上のborderを白くします
boxshadowでカードの影を作る中の文字を中央揃え*/
.card{
    border-top: 1px solid rgba(255, 255, 255);
    border-left: 1px solid rgba(255, 255, 255);
    width: 380px;
    height: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 15px 15px 50px rgba(222, 212, 212, 0.5);
    background: rgba(255, 255, 255, 0.1);
}

/*中の文字をアニメーション追加
カードに:hoverした時に文字が下から出てくるように設定*/
.card .content{
    transform: translateY(200px);
    opacity: 0;
    transition: 0.5s;
}
.card:hover .content{
    transform: translateY(0);
    opacity: 1;
}

/*h2タグのに文字に白影追加*/
h2{  
    margin-bottom: 50px;
    text-shadow: 10px 10px 3px white;
}

/*フッター*/
footer{
    height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    bottom: 0;
   text-align: center;
   color: white;
}
