/*全要素を*でmargin とpadding設定*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    margin-bottom: 40px;
}

/*bodyタグのfont、高さ　中の要素を真ん中に 設定
align item center 縦に対して真ん中に中央揃え
justify-content:center横に対して真ん中に中央揃え*/
body{
    height: 100vh;
    font-family: "Kosugi Maru", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

/*h1タグの文字を真ん中に*/
h1{
    text-align: center;   
}

/*before after で線を作る
*/

.head .prof{
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    position: relative;
}
.head .prof:before{
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background: #ef1548;
    position: absolute;
    top: 27px;
    left: -100px;

}
.head .prof::after{
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background: #ef1548;
    position: absolute;
    top: 27px;
    right: -100px;
}
input{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
}
label{
    padding: 10px;
}

/*ボータンタグのサイズ色設定*/
.btn1{
    margin-top: 10px;
    width: 80px;
    height: 30px;
}

.back-btn{
	margin-top: 10px;
    width: 80px;
    height: 30px;
}

/*boxの形を作る幅高さ設定影追加*/
.box{
   box-shadow: 5px 5px 15px 3px;
   border-radius: 10px;
    width: 500px;
    height: 450px;
   text-align: center;
   padding-top: 30px;

}

/*フッター*/
footer{
    margin-top: 30px;
    text-align: center;
}

h2{
      margin-bottom: 30px;
    
}