<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログ登録</title>
    <link rel="stylesheet" th:href="@{/css/blog_register.css}">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <img th:src="@{/image/bji.png}" width="70px" alt="B_photo">
         </div>
        <nav class="top-menu">
           <ul class="menu" style="list-style: none;">
                <li class="list1" th:text="'ようこそ！'+${userName} +'さん'"></li>
                <li class="list2"><a th:href="@{/blog/list}" style="text-decoration: none;">blogList</a></li>
                <li class="list3"><a th:href="@{/user/logout}" style="text-decoration: none;">logout</a></li>
            </ul>
        </nav>
    </header>
    <main class="card">
        <section class="content">
            <h2>ブログ登録画面</h2>
            <form th:action="@{/blog/register/process}" method="post" enctype="multipart/form-data">
                <div>
                    <label for="blog-title">blog title</label>
                    <input type="text" name="blogTitle" id="blog-title" required>
                </div>
                <div>
                    <label for="category">category</label> 
                    <select name="categoryName" id="category">
                        <option value="消しゴム">消しゴム</option>
                        <option value="鉛筆">鉛筆</option>
                        <option value="シャープパン">シャープパン</option>
                    </select>
                </div>
                <div>
                    <label for="blogImage">image</label>
                    <input type="file" name="blogImage" id="blogImage">
                </div>
                <div>
                    <label for="article">article</label>
                    <textarea name="article" id="article"></textarea>
                </div>
                <div>
                    <button class="btn1">登録</button>
                    <button class="back-btn" onclick="history.back();" type="button">戻る</button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <small>copyright&copy;B.blog</small>
    </footer>
    <script th:src="@{/js/vanilla-tilt.js}"></script>
    <script type="text/javascript">
        VanillaTilt.init(document.querySelector(".card"), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare":0.8,
        });      
    </script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="./js/common.js"></script>
</body>

</html>