<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap}" rel="stylesheet">
</head>

<body>
    <div  class="register-display">
        <header>
            <h1><img th:src="@{/image/bji.png}" width="40px" alt="Bji">blog</h1>
        </header>
        <main>
            <h2>register</h2>
            <section>
                <form th:action="@{/user/register/process}" method="post">
                    <div class="fomat-group">
                        <label for="name">名前</label>
                        <input type="text" name="userName" id="name" placeholder="name" required>
                    </div>
                    <!--<div class="fount-group">
                        <label for="birthday">生年月日</label>
                        <input type="text" name="birthday" id="birthday" placeholder="birthday" required>
                    </div>
                    <div class="fount-group">
                        <label for="gender">性別</label>
                        <select name="gender" id="gender">
                            <option value="male">男</option>
                            <option value="female">女</option>
                        </select>
                    </div>
                    <div class="fount-group">
                        <label for="tel">電話番号</label>
                        <input type="tel" name="tel" id="tel" placeholder="phoneNumber" required>
                    </div>
                    <div class="fount-group">
                        <label for="address">住所</label>
                        <input type="text" name="address" id="address" placeholder="address" required>
                    </div>-->
                    <div class="fount-group">
                        <label for="email">メールアドレス</label>
                        <input type="text" name="userEmail" id="email" placeholder="email" required>
                    </div>
                    <div class="fount-group">
                        <label for="password">パスワード</label>
                        <input type="password" name="password" id="password" placeholder="password" required>
                    </div>
                    <div>
                        <button>register</button>
                    </div>
                    <div  class="link">
                        <a href="login.html" target="_blank">ログイン画面へ</a>
                    </div>
                </form>
            </section>
        </main>
        <footer>
            <small>copyright&copy;B.blog</small>
        </footer>
    </div>
</body>

</html>